@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-black: #171c24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

::after,
::before {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #eeeeee;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
}

.nav {
  color: #171c24;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 24px;
}

.logo {
  margin: 0 auto;
  max-width: 110px;
}

@media screen and (max-width: 1024px) {
  .nav {
    font-size: 15px;
  }
}
